.THIS {
}
.THIS .slds-modal__container{
    width: 90% !important;
    max-width: 90% !important;
    padding: 0rem;
}
.THIS .popmodalCss{
    width: 50% !important;
    max-width: 50% !important;
    margin: 0 auto;
    margin-top: 10%;
}
.THIS .slds-modal__header {
    border-top-right-radius: 0rem; 
    border-top-left-radius: 0rem; 
    border-bottom: none; 
    padding: 0rem;
}
.THIS#frame {
  width: 100%;
  height: 90vh;
}